prices/alt/
prices/alt-dist/
prices/training/
prices/training-dist/
Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
notes-local
.project
.settings
.classpath
.factorypath
server/src/main/resources/webapp
